@model IEnumerable<BugTracker.Models.Ticket>

@{
	ViewBag.Title = "SoftDeleteIndex";
}


<div class="main-content">
	<div class="container">
		<div class="page-content">
			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-ticket green"></i> Index of Soft Deleted Tickets</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>

			<table id="mytable" class="table">
				<thead>
					<tr>
						<th>
							Project Name
						</th>
						<th>
							Ticket Title
						</th>
						<th>
							Description
						</th>

						<th>
							Assigned User
						</th>
						<th>
							Ticket Owner
						</th>
						<th>
							Priority
						</th>

						<th>
							Status
						</th>
						<th>
							Type
						</th>

						<th>
							Created
						</th>
						@*<th>
						Updated
					</th>*@
						<th></th>
					</tr>
				</thead>

				<tbody>

					@foreach (var item in Model)
			{
				if (item.IsDeleted == true)
				{


					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Project.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)

							@*@string.Join("", item.Description.Take(30))...
						@Html.Hidden("FullDesc", item.Description)*@
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.OwnerUser.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Priority.Name)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.Status.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Type.Name)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.Created, "{0:dd-MMM-yyyy}")
						</td>
						@*<td>
						@Html.DisplayFor(modelItem => item.Updated)
					</td>*@
						<td>
							@Html.ActionLink("Details ", "Details", new { id = item.Id })


							@if (User.IsInRole("Admin") || User.IsInRole("Submitter") || User.IsInRole("Project Manager"))
					{
						@Html.ActionLink("Edit ", "Edit", new { id = item.Id })

			}



							@if (User.IsInRole("Admin"))
					{


						@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			}

						</td>
					</tr>
		}
	}
				</tbody>
			</table>


			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-danger" />

			</div>
			<script>
				$('#mytable').DataTable();
			</script>

		<br />
			<br />
			@if (User.IsInRole("Admin"))
	{
		@Html.ActionLink("Back to All Tickets Index", "Index", null, new { @class = "btn btn-default" })

}

			@if (User.IsInRole("Project Manager") || User.IsInRole("Submitter") || User.IsInRole("Developer"))
	{
		@Html.ActionLink("Back to List", "MyTickets", null, new { @class = "btn btn-default" })
}
		</div>

	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

