@using BugTracker.Models

@{
		Layout = null;
	}

@*@{
	ViewBag.Title = "LP";
}*@


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Landing Page - Start Bootstrap Theme</title>
	<!-- Bootstrap core CSS -->
	<link href="~/Assets/LandingPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template -->
	<link href="~/Assets/LandingPage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/Assets/LandingPage/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="~/Assets/LandingPage/css/landing-page.min.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			@*<a class="navbar-brand" href="#">Start Bootstrap</a>*@
			<a class="btn btn-primary" @Html.ActionLink("Sign In", "Index", "Home")</a>
			
		</div>
	</nav>
	<!-- Masthead -->
	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-12 mx-auto">
					<h1>Super Simple Bug Tracker!</h1>
					<h1>Click a Demo Login.</h1>
				</div>
				<div class="col-md-12 col-lg-12 col-xl-12 mx-auto">
					<form>
						<div class="form-row">
							@*<div class="col-12 col-md-9 mb-2 mb-md-0">
			<input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
		</div>*@
							<div class="col-12 col-md-3">
								@*<a class="btn btn-primary" @Html.ActionLink("See Demo!", "DemoLogin", "Home")</a>*@
							</div>
							<div class="row">
								<a class="btn btn-primary" @Html.ActionLink("Login As Guest Admin", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Admin9" }, new { @class = "btn btn-primary" })</a>
								&nbsp;
								<a class="btn btn-primary" @Html.ActionLink("Login As Guest Project Manager", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "ProjectManager9" }, new { @class = "btn btn-primary" })</a>
								&nbsp;
								<a class="btn btn-primary" @Html.ActionLink("Login As Guest Developer", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Developer9" }, new { @class = "btn btn-primary" })</a>
								&nbsp;
								<a class="btn btn-primary" @Html.ActionLink("Login As Guest Submitter", "GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl, type = "Submitter9" }, new { @class = "btn btn-primary" })</a>
							</div>



											<div class="col-xl-12 mx-auto">
												<br />
												<br />
												<h1>Or sign in at the top left!</h1>
											</div>
										</div>
</form>
				</div>
			</div>
		</div>
	</header>
	<!-- Icons Grid -->
	@*<section class="features-icons bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="icon-screen-desktop m-auto text-primary"></i>
						</div>
						<h3>Fully Responsive</h3>
						<p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="icon-layers m-auto text-primary"></i>
						</div>
						<h3>Bootstrap 4 Ready</h3>
						<p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="icon-check m-auto text-primary"></i>
						</div>
						<h3>Easy to Use</h3>
						<p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
					</div>
				</div>
			</div>
		</div>
	</section>*@
	<!-- Image Showcases -->
	@*<section class="showcase">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h2>Streamlined Project &amp; Role Assignment</h2>
					<p class="lead mb-0">Administrators and Project Managers can view the list of projects and assign roles users and a specific role for that user.</p>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
				<div class="col-lg-6 my-auto showcase-text">
					<h2>Users Are Notified</h2>
					<p class="lead mb-0">PMs are notified via email when they are assigned a project. Developers assigned to a project are similarly notified when they are assigned a project and when new comments are added or tickets properties (such as Priority, Status and Type) are updated by the PM.</p>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h2>Detailed Ticket View with Comments &amp; Ticket History</h2>
					<p class="lead mb-0">View the pertinent ticket information and the history and comments on one page. Information is easily searchable to find particular commments relevant to the user's current task.</p>
				</div>
			</div>
		</div>
		
	</section>*@
	
	<!-- Bootstrap core JavaScript -->
	<script src="~/Assets/LandingPage/vendor/jquery/jquery.min.js"></script>
	<script src="~/Assets/LandingPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
