@model IEnumerable<BugTracker.Models.Ticket>
@{
	ViewBag.Title = "Index";
}

<h2>Assigned Ticket Index</h2>


@if (User.IsInRole("Admin") || User.IsInRole("Submitter"))
{
<p>
	@Html.ActionLink("Create New Ticket", "Create", "Tickets")
</p>
}

	<table id="mytable" class="table">
		<thead>
			<tr>
				<th>
					Assigned User
				</th>
				<th>
					Ticket Owner
				</th>
				<th>
					Priority
				</th>
				<th>
					Project
				</th>
				<th>
					Status
				</th>
				<th>
					Type
				</th>
				<th>
					Body
				</th>
				<th>
					Description
				</th>
				<th>
					Created
				</th>
				<th>
					Updated
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model)
			{

				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OwnerUser.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Priority.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Project.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Type.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Body)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Created, "{0:dd-MMM-yyyy}")
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Updated)
					</td>
					<td>

						@Html.ActionLink("Details", "Details", "Tickets", null, new { id = item.Id }) |



						@Html.ActionLink("Edit", "Edit", "Tickets", null, new { id = item.Id })

						|			


						ok how do I perform soft delete???
						@*@if (User.IsInRole("Admin"))
									{
										@Html.ActionLink("Delete", "Delete", null, new { id = item.Id })
							}
											|*@
					</td>
				</tr>


			}
		</tbody>

	</table>
	<script>
		$('#mytable').DataTable();
	</script>