@model BugTracker.Models.Project

@{
	ViewBag.Title = "Details";
}
<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<div class="col-md-4">
					<h2 class="pull-left">
						<i class="fa fa-desktop green"></i> Project Details
					</h2>
				</div>

				@if (User.IsInRole("Submitter"))
				{<div class="col-md-4">
						<h2 class="pull-left">
							<i class="fa fa-ticket green"></i>
							@Html.ActionLink("Create New Ticket", "Create", "Tickets")
						</h2>
					</div>
				}

				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>


			<div>

				<hr />
				<div class="page-grid">
					<div class="container">
						<div class="col-md-4"><strong>Project Name</strong> @Html.DisplayFor(model => model.Name)</div>



						<div class="col-md-4">
							<strong> Created</strong>	@Html.DisplayFor(model => model.Created, "{0:ddd, MMM d, yyyy}")

						</div>
						<br />	<br />
						<table id="mytable" class="table">
							<thead>
								<tr>
									<th>

										Assigned Users

									</th>
								</tr>
							</thead>

							<tbody>


								<tr>
									<td>

										<ul>
											@foreach (var u in Model.Users)
											{
												<li>
													@u.FullName
												</li>
											}
										</ul>
									</td>
									<td>
										<strong>@Html.ActionLink("Remove User from Project | ", "RemoveUser", "AdminProjects", new { id = Model.Id }, null)</strong>

										<strong>
											@Html.ActionLink("Add User to Project | ", "AddToProject", "AdminProjects", new { id = Model.Id }, null)
										</strong>
										@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
										{
											<strong>
												@Html.ActionLink("Edit Project | ", "Edit", new { id = Model.Id })
											</strong>

										}
										<strong>
											@Html.ActionLink("Project Details", "Details", new { id = Model.Id })
										</strong>

										@if (User.IsInRole("Admin"))
										{

											<strong>
												@Html.ActionLink(" | Delete Project", "Delete", new { id = Model.Id })
											</strong>
										}
									</td>
								</tr>

							</tbody>
						</table>


						<table id="mytable" class="table">

							<thead>
								<tr>
									<th>

										Project Tickets
									</th>
								</tr>





							</thead>
							<tbody>

								<tr>
									<td>

										@foreach (var d in Model.Ticket)
										{

											@d.Body @Html.ActionLink("  |   Go to Ticket Details", "Details", "Tickets", new { id = d.Id }, null)
											<ul>
												<li>@d.Description</li>

											</ul>
										}

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<strong>

				@Html.ActionLink("Back to My Projects", "MyTickets")
			</strong>



			@section Scripts {
				@Scripts.Render("~/bundles/jqueryval")
			}

			<script>
				$('#mytable').DataTable();
			</script>





