@model BugTracker.Models.Project

@{
	ViewBag.Title = "Details";
}
<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop green"></i> Project Details</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>


			<div>

				<hr />
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Name)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Name)
					</dd>

					<dt>
						Created
					</dt>
					<dd>
						@Html.DisplayFor(model => model.Created, "{0:dd-MMM-yyyy}")
					</dd>
				</dl>
			</div>

			<table id="mytable" class="table">
				<thead>
					<tr>
						<th>
							Assigned Users
						</th>
					</tr>
				</thead>

				<tbody>


					<tr>
						<td>

							<ul>
								@foreach (var u in Model.Users)
								{
									<li>
										@u.FullName
									</li>
								}
							</ul>
						</td>
						<td>
							@Html.ActionLink("Remove User from Project | ", "RemoveUser", "AdminProjects", new { id = Model.Id }, null)

							@Html.ActionLink("Add User to Project | ", "AddToProject", "AdminProjects", new { id = Model.Id }, null)
							@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
							{
								@Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })

							}
							@Html.ActionLink("Details", "Details", new { id = Model.Id })

							@if (User.IsInRole("Admin"))
							{

								@Html.ActionLink(" | Delete", "Delete", new { id = Model.Id })
							}
						</td>
					</tr>

				</tbody>
			</table>


			<table id="mytable" class="table">

				<thead>
					<tr>
						<th>
							Project Tickets
						</th>
					</tr>

				<tbody>

					<tr>
						<td>
							The Go to Ticket Details link is not working!!!!
							@foreach (var d in Model.Ticket)
							{
								 
								@d.Body @Html.ActionLink("  |   Go to Ticket Details", "Details", "Tickets", null, new { id = d.Id }) 
								<ul>
									<li>@d.Description</li>

								</ul>
							}

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<p>

	@Html.ActionLink("Back to List", "MyTickets")
</p>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

<script>
	$('#mytable').DataTable();
</script>





