@model BugTracker.Models.Project

@{
	ViewBag.Title = "Details";
}
<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<div class="col-md-4">
					<h2 class="pull-left">
						<i class="fa fa-desktop green"></i> Project Details
					</h2>
				</div>

				@if (User.IsInRole("Submitter"))
		{<div class="col-md-4">
				<h2 class="pull-left">
					<i class="fa fa-ticket green"></i>

					@Html.ActionLink("Create New Ticket", "Create", "Tickets", new { @class = "btn btn-success" })
				</h2>
			</div>
}

				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>




			<hr />

			<div class="page-grid">
				<div class="container">
					<div class="col-md-4"><strong>Project Name</strong> @Html.DisplayFor(model => model.Name)</div>



					<div class="col-md-4">
						<strong> Created</strong>	@Html.DisplayFor(model => model.Created, "{0:dd-MMM-yyyy}")

					</div>
					<div class="col-md-4">
						<strong> Project Manager</strong>	@Html.DisplayFor(model => model.PmId)

					</div>
					<br />	<br />


					@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
			{

				<div class="col-md-8">
					<strong>
						@Html.ActionLink("Add User to Project", "AddToProject", "AdminProjects", new { @classs = "btn btn-success", id = Model.Id }, null)  <text> | </text>
					</strong>

					<strong>
						@Html.ActionLink("Edit Project ", "Edit", new { id = Model.Id })
					</strong> <text> | To remove a user, go to the project index page or My Projects page.</text>
				</div>
	}
				

					@if (User.IsInRole("Admin"))
			{
				<div class="col-md-2">
					<strong>

						@Html.ActionLink("Soft Delete Project", "SoftDelete", new { id = Model.Id }, new { @class = "btn btn-warning" })
					</strong>
				</div>
				<div class="col-md-2">
					<strong>
						@Html.ActionLink("Delete Project", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
					</strong>
				</div>
	}
					<br />	<br />



					<ul class="nav nav-tabs">
						<li class="tab-header active"><a href="#tab1" data-toggle="tab">Assigned Users</a></li>
						<li class="tab-header"><a href="#tab2" data-toggle="tab">Project Tickets</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">

							<table id="Users" class="table">
								<thead>
									<tr>
										<th>
											Assigned Users
										</th>
									</tr>
								</thead>

								<tbody>

									@foreach (var u in Model.Users)
							{
								<tr>
									<td>
										@u.FullName
									</td>
								</tr>
					}
								</tbody>
							</table>
						</div>

						<div class="tab-pane active" id="tab2">
							<table id="projTickets" class="table">

								<thead>
									<tr>
										<th>
											Project Tickets
										</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td>

											@foreach (var d in Model.Ticket)
									{
										if (d.IsDeleted == false)
										{
											@d.Title <text> | </text>@Html.ActionLink("Go to Ticket Details", "Details", "Tickets", new { id = d.Id }, null)
											<ul>
												<li>@d.Description</li>

											</ul>
								}
							}

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<script>
						$('#Users, #projTickets').DataTable();
					</script>


					@*@Html.Partial("ProjectTickets", "Tickets")*@



				</div>
			</div>
			<br />
			<strong>

				@Html.ActionLink("Back to My Projects", "MyProjects", null, new { @class = "btn btn-default" })
			</strong>
		</div>
		</div>
	</div>




@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

}







