@model IEnumerable<BugTracker.Models.Project>

@{
	ViewBag.Title = "MyProjects";
}

<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop blue"></i> My Projects</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>


			<h3>
				@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
				{
					@Html.ActionLink("Create New Project", "Create")
					<br />
					<br />
				}
			</h3>

			<h3>
				@if (User.IsInRole("Submitter"))
				{
					@Html.ActionLink("Create New Ticket", "Create", "Tickets")
					<br />
					<br />
				}
			</h3>



			<table id="mytable" class="table">
				<thead>
					<tr>
						<th>
							Project Name
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)

								<ul>
									@foreach (var u in item.Users)
									{
										<li>
											@u.FullName  @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
											{
												@Html.ActionLink("Remove User from Project", "RemoveUser", "AdminProjects", new { id = item.Id }, null)
											}
										</li>
									}
								</ul>
							</td>
							<td>

								@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
								{
									@Html.ActionLink("Add User to Project | ", "AddToProject", "AdminProjects", new { id = item.Id }, null)

									@Html.ActionLink("Edit | ", "Edit", new { id = item.Id })

								}
								@Html.ActionLink("Details", "Details", new { id = item.Id })

								@if (User.IsInRole("Admin"))
								{

									@Html.ActionLink(" | Delete", "Delete", new { id = item.Id })
								}
							</td>
						</tr>
					}

				</tbody>
			</table>

			<script>
				$('#mytable').DataTable();
			</script>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
