@model IEnumerable<BugTracker.Models.ProjectIndexViewModel>

@{
	ViewBag.Title = "MyProjects";
}

<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop blue"></i> My Projects</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>


			<h3>
				@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
				{
					@Html.ActionLink("Create New Project", "Create", null, new { @class = "btn btn-success" })
					<br />
					<br />
				}
			</h3>

			<h3>
				@if (User.IsInRole("Submitter"))
				{
					@Html.ActionLink("Create New Ticket", "Create", "Tickets", new { @class = "btn btn-success" })
					<br />
					<br />
				}
			</h3>

			<table id="mytable" class="dataTables">
				<thead>
					<tr>
						<th>
							Project Name
						</th>
						<th>Project Action Links</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						if (item.Project.IsDeleted == false)
						{
							<tr>
								<td>
									
								@Html.DisplayFor(modelItem => item.Project.Name) | PM: @Html.DisplayFor(modelItem => item.ProjectManager.FullName)

								<ul>
									@foreach (var u in item.Project.Users)
									{
								<li>
									@u.FullName  
									@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
									{
								 @Html.ActionLink("Remove User", "RemoveUser", "AdminProjects",  new { id = item.Project.Id, userId = u.Id }, new {@class="btn-xs btn-warning", type = "button" })
									}
								</li>
									}
								</ul>
									
								</td>
								<td>

									@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
									{
										@Html.ActionLink("Add User to Project", "AddToProject", "AdminProjects", new { id = item.Project.Id }, null) <text>|</text>

										@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id })
										<text> | </text>
									}
									@Html.ActionLink("Details", "Details", new { id = item.Project.Id })

									@if (User.IsInRole("Admin"))
									{

										<text>|</text>@Html.ActionLink("Delete", "Delete", new { id = item.Project.Id })
									}
								</td>
							</tr>
						}
					}

				</tbody>
			</table>

			<script>
				$('#mytable').DataTable();
			</script>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
