@model BugTracker.Models.Project

@{
	ViewBag.Title = "SoftDelete";
}

<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop red"></i> <strong>Soft</strong> Delete Project</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>

			<br />
			<h3>Are you sure you want to soft delete this? It will be removed from queries and views but will be still located in the database for recovery.</h3>
			<div>

				<hr />
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Name)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Name)
					</dd>

				</dl>

				@using (Html.BeginForm())
	{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.Id)
			@Html.HiddenFor(model => model.Name)
			@Html.HiddenFor(model => model.PmId)
			@Html.HiddenFor(model => model.Created)
			<div class="form-actions no-color">
				<input type="submit" value="Soft Delete" class="btn btn-default" /> |
				@Html.ActionLink("Back to List", "Index")
			</div>
}
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

