@model  IEnumerable<BugTracker.Models.Project>

@{
	ViewBag.Title = "SoftDeleteIndex";
}

<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop blue"></i> Soft Deleted Projects</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>
			<table id="mytable" class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
				{
					if (item.IsDeleted == true)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name) | PM: @Html.DisplayFor(modelItem => item.PmId)

								<ul>
									@foreach (var u in item.Users)
								{
									<li>
										@u.FullName
									</li>
							}
								</ul>
							</td>
							<td>
								@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
								@Html.ActionLink("Details", "Details", new { id = item.Id }) |
								@*Add link for recover project?  If so should probably just add to edit view and controller and hide the Isdeleted if the value is false and only show if true.  But seems like Edit is modifying the IsDelete to false already........*@
							</td>
						</tr>
				}
			}
				</tbody>
			</table>

			<script>
				$('#mytable').DataTable();
			</script>
		</div>
		<br />
		<br />
		@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" }))
	</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

