@model IEnumerable<BugTracker.Models.Project>
@{
	ViewBag.Title = "Index";
}
<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop blue"></i> Admin Project Index</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>


			<br />
			<h3>@Html.ActionLink("Create Project", "Create", "Projects")</h3>

			<br />
			@foreach (var chg in Model)
			{
				<tr>
					<td>
						@chg.Name |
						@Html.ActionLink("Add User to Project", "AddToProject", new { id = chg.Id }) |
						@Html.ActionLink("Remove User from Project", "RemoveUser", new { id = chg.Id }) |

						@if (User.IsInRole("Admin"))
						{
							@Html.ActionLink("Edit", "Edit", "Projects", null, new { id = chg.Id })
							@Html.ActionLink("Details", "Details", "Projects", null, new { id = chg.Id })
							@Html.ActionLink("Delete", "Delete", "Projects", null, new { id = chg.Id })
						}
					</td>
					<td>
						<ul>
							@foreach (var user in chg.Users)
							{
								<li>
									@user.FullName
								</li>
							}
						</ul>

					</td>
				</tr>
			}
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}