@model BugTracker.Models.AdminProject
@{
	ViewBag.Title = "RemoveUser";
}
<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop green"></i> Admin - Remove User</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>
			@if (Model.RmvUser.Id == Model.Project.PmId)
	{
		<h3>
			This is the current project PM. Verify you want to remove this user.
		</h3>
}

			@using (Html.BeginForm("AdminProjects"))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.Project.Id)
		@Html.HiddenFor(m => m.RmvUser.Id)

		@Html.DisplayFor(model => model.Project.Name)
		@*@Html.DisplayFor(model => model.Project.Id)*@
		<br />
		<br />

		@Html.DisplayFor(model => model.RmvUser.FullName)


		@*@Html.Display(m => m.RmvUser)*@
		@*ok need this changed, just one user*@
		<br />
		<br />
		<br />
		<h5>
			Are you sure you want to remove this User from the project?
		</h5>
		<br />
		<p><input type="submit" class="btn btn-info" /></p>

}
			<br />
			<br />
			<strong>
				@Html.ActionLink("Back to list", "Index", "Projects")
				</strong>
					<br />

</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
