@model BugTracker.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="main-content">
	<div class="container">

		<div class="page-content">

			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h2 class="pull-left"><i class="fa fa-desktop green"></i> Use another service to log in.</h2>
				<!-- Bread crumbs -->
				<div class="breads pull-right">
					@*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
				</div>
				<div class="clearfix"></div>
			</div>
			
			<hr />
			@{
				var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
				if (loginProviders.Count() == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div>
				}
				else
				{
					using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
					{
						@Html.AntiForgeryToken()
						<div id="socialLoginList">
							<p>
								@foreach (AuthenticationDescription p in loginProviders)
								{
									<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
								}
							</p>
						</div>
					}
				}
			}
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
