@model BugTracker.Models.RegisterViewModel
@{
	/**/

	ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
	<!-- Title here -->
	<title>Register - Bug Tracker</title>
	<!-- Description, Keywords and Author -->
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your,Keywords">
	<meta name="author" content="ResponsiveWebInc">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Styles -->
	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Font awesome CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Custom Color CSS -->
	<link href="css/less-style.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>


@*<h2>@ViewBag.Title.</h2>*@


<body>

	<div class="outer-page">

		<!-- Login page -->
		<div class="login-page">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified">
					
					<li><a href="#register" data-toggle="tab" class="br-lblue"><i class="fa fa-pencil"></i> Sign Up</a></li>
					
				</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade active in" id="login">


					@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						<h4>Create a new account.</h4>

						@Html.ValidationSummary("", new { @class = "text-danger" })

						<div class="form-group">
							<label for="email">Full Name</label>
							@Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
						</div>


						<div class="form-group">
							<label for="email">Email</label>
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						</div>

						<div class="form-group">
							<label for="password">Password</label>
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						</div>

						<div class="form-group">
							<label for="password">Confirm Password</label>
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-info btn-sm">Register</button>
						</div>
					}
				</div>
			</div>
		</div>
	</div>



	<!-- Javascript files -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Respond JS for IE8 -->
	<script src="js/respond.min.js"></script>
	<!-- HTML5 Support for IE -->
	<script src="js/html5shiv.js"></script>

	<!-- Javascript for this page -->
	<!-- Javascript for this page -->

	<script type="text/javascript">

	</script>

</body>
</html>				